<?xml version="1.0"?>

<launch>
  <arg name="CAMERA_NAME" default="elp" />

  <arg name="sync_split_node" default="split_sync_image_node" />

  <!-- start camera -->
  <include file="$(find elp_stereo_synchronized_ros_pkg)/launch/elp_stereo_camera.launch">
    <arg name="CAMERA_NAME" value="$(arg CAMERA_NAME)" />
  </include>


  <!-- start calibration -->
  
 <node pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" args=" --size 10x7 --square 0.036 left:=/$(arg CAMERA_NAME)/$(arg sync_split_node)/left/image_raw right:=/$(arg CAMERA_NAME)/$(arg sync_split_node)/right/image_raw " required="true">
  </node>


</launch>

